@charset "utf-8";

html {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
}

body {
	/* 가로 스크롤이 생기지 않음 */
	overflow-x: hidden;
	color: rgb(29,29,31);
	/* 자간 */
	letter-spacing: -0.05em;
	background: white;
}

p {
	line-height : 1.6;
}

a {
	color: rgb(29,29,31);
	text-decoration: none;
}

.global-nav {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 44px;
	padding: 0 1rem;
	z-index: 10;
}

.local-nav {
	position: absolute;
	top:45px;
	left:0;
	width:100%;
	height: 52px;
	padding: 0 1rem;
	border-bottom: 1px solid #ddd;
	z-index: 11;

}

.global-nav-links,
.local-nav-links{
	display: flex;
	align-items: center;
	max-width: 1000px;
	/* 남은 부분만큼 마진을 채워 가운데 정렬을 시킨다. */
	/* auto는 왼쪽 오른쪽 마진을 모두 소모함 */
	margin :0 auto;
	height : 100%;
}

.global-nav-links {
	justify-content: space-between;
}

/* css우선순위에 대한 내용
그냥 class보다 부모 후에 클래스 혹은 태그가 강함. */
.local-nav-links .product-name {
	/* auto는 왼쪽 오른쪽 마진을 모두 소모함 */
	margin-right : auto;
	font-size: 1.2rem;
	font-weight: bold;
}

.local-nav-links a {
	font-size: 0.8rem;
}

.local-nav-links a:not(.product-name){
	margin-left: 2em;
}

.scroll-section {
	border: 3px solid red;
	padding-top: 50vh;
}

#scroll-section-0 h1{
	font-size: 4rem;
	text-align: center;
}

.main-message {
	display: flex;
	align-items: center;
	justify-content: center;
	top: 35vh;
	height :3em;
	font-size :2.5rem;
	margin-top: 2px;
	opacity: 0;
}

.main-message p {
	font-weight: bold;
	text-align: center;
	line-height: 1.2;
}

.main-message small {
	display: block;
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
}

.description{
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 1rem;
	font-size :1.2rem;
	color : #888;
}

.description strong {
	float : left;
	margin-right :0.2em;
	font-size : 3rem;
	color : rgb(29,29,31)
}

#scroll-section-2 .main-message {
	font-size : 3.5rem;
}

.desc-message {
	width: 50%;
	font-weight: bold;
	opacity: 0;
}

.pin {
	width : 1px;
	height : 100px;
	background: rgb(29,29,31);
}

#scroll-section-2 .b {
	top: 10%;
	left: 40%;
}

#scroll-section-2 .c {
	top: 15%;
	left: 45%;
}

.mid-message {
	max-width: 1000px;
	margin: 0 auto;
	padding :0 1rem;
	font-size : 2rem;
	color : #888;
}

.mid-message strong {
	color: rgb(29,29,31);
}

.canvas-caption {
	max-width: 1000px;
	margin: 0 auto;
	padding : 0 1rem;
	color: #888;
	font-size : 1.2rem;
}

.footer {
	display : flex;
	align-items : center;
	justify-content: center;
	height : 7rem;
	color : white;
	background : #38f5d5;
}

@media (min-width: 1024px) {
	#scroll-section-0 h1{
		font-size: 9vw;
		text-align: center;
	}

	.main-message {
		font-size : 4vw;
	}

	.description {
		font-size : 2rem;
	}

	.description strong {
		font-size : 6rem;
	}

	#scroll-section-2 .main-message {
		font-size : 6vw;
	}

	.main-message small {
		font-size : 1.5vw;
	}

	.desc-message {
		width: 20%;
	}

	#scroll-section-2 .b {
		top: 20%;
		left: 53%;
	}
	
	#scroll-section-2 .c {
		left: 55%;
	}

	.mid-message {
		font-size: 4vw;
	}

	.canvas-caption {
		font-size: 2rem;
	}
}

.sticky-elem {
	display: none;
	position: fixed;
	left : 0;
	width :100%;
}

.sticky-elem-canvas {
	top: 0;
	background: #ccc;
}

#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
	display: block;
}

