@charset 'utf-8';

html {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
}
body {
	overflow-x: hidden;
	color: black;
	letter-spacing: -0.05em;
	background: white;
}
p {
	line-height: 1.6;
}
a {
	color: black;
	text-decoration: none;
}

body.before-load {
	overflow: hidden;
}
.container {
	/* iPhone 가로 스크롤 방지 */
	overflow-x: hidden;
}

.scroll-section {
	position: relative;
	padding-top: 50vh;
}
#scroll-section-0 h1 {
	position: relative;
	top: -10vh;
	z-index: 5;
	font-size: 4rem;
	text-align: center;
}
.main-message {
	display: flex;
	align-items: center;
	justify-content: center;
	top: 35vh;
	margin: 5px 0;
	height: 3em;
	font-size: 2.5rem;
	opacity: 0;
}
.main-message .center {
	text-align: center;
}
.description {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 1rem;
	font-size: 1.2rem;
	color: #888;
}

.desc-message {
	width: 50%;
	font-weight: bold;
	opacity: 0;
}

#scroll-section-2 .b {
	top: 10%;
	left: 40%;
}
#scroll-section-2 .c {
	top: 15%;
	left: 45%;
}


.sticky-elem {
	display: block;
	position: fixed;
	left: 0;
	width: 100%;
	will-change: transform, opacity;

}

.sticky-elem-canvas {
	top: 0;
	height: 100%;
}
.sticky-elem-canvas canvas {
	position: absolute;
	top: 50%;
	left: 50%;
}
