@charset 'utf-8';

/* zoopri basic */
html {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
}
body {
	overflow-x: hidden;
	background: white;

}

.container {
	overflow-x: hidden;
}

.scroll-section {
	position: relative;
	padding-top: 50vh;
}

.sticky-elem {
	display: block;
	position: fixed;
	left: 0;
	width: 100%;
	will-change: transform, opacity;
}

.sticky-elem-canvas {
	top: 0;
	height: 100%;
}
.sticky-elem-canvas canvas {
	position: absolute;
	top: 50%;
	left: 50%;
}

/* specific */

#scroll-section-3 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.image-blend-canvas.sticky {
	position: fixed;
	top: 0;
}